.listingContainer {
  margin: 1rem;
}

.mainHeading {
  margin: 2rem;
  padding: 2rem 0;
  border-bottom: 1px solid #d8dce1;
  text-align: left;
  color: #005990;
}

.imageGallery {
  margin-top: 78px;
  background-color: #4f5962;
}

.imageGallery img {
  object-fit: cover !important;
}

.imageGallery button {
  background-color: #005990;
  padding: 0;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.imageGallery button:hover {
  background-color: #fff;
}

.imageGallery svg {
  height: 40px !important;
  width: 40px !important;
  stroke-width: 3px;
}

.imageGallery svg:hover {
  color: #005990 !important;
}

.image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: cover;
  transform: scale(1.05);
}

.mainContent {
  position: relative;
  width: 100%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 1rem;
  flex-wrap: wrap;
}

.leftContent {
  width: 70%;
  background-color: white;
  /* margin: 2rem 0; */
  padding: 2rem;
  border-radius: 5px;
  text-align: left;
  font-size: 17px;
  color: #3b4249;
  max-width: 1200px;
  box-sizing: border-box;
}

.rightContent {
  min-width: 300px;
  /* margin: 2rem 0; */
}

.price {
  background-color: #4f5962;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  margin: auto;
}

.title {
  font-size: 24px;
  overflow: hidden;
  color: black;
}

.quickOverview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100px;
  text-align: center;
}

.singleQuickOverview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #d8dce1;
}

.contentSection {
  border-bottom: 1px solid #d8dce1;
  padding-bottom: 2rem;
}

.mainCard {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  margin: 1rem auto;
  gap: 1rem;
}

.mainCard p {
  margin: 0.25rem;
}

.singleCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: stretch;
  width: 90%;
  border: 1px solid #d8dce1;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 5px 5px -8px rgba(0, 0, 0, 0.75);
}

.singleCard:hover {
  transition-delay: 0.1s;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.imageCard {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 300px;
}

.listingImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.listingImage:hover {
  transform: scale(1.15);
}

.bottomCard {
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem;
  padding-left: 1rem;
  overflow: hidden;
}

.infoCard {
  display: flex;
  font-size: 14px;
  gap: 0.5rem;
  justify-content: flex-start;
}

.separatePrice {
  font-size: 28px;
  position: absolute;
  bottom: 0;
  text-indent: 1rem;
  color: white;
}

.separateTitle {
  font-size: 16px;
  overflow: hidden;
  max-width: 40ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.location {
  font-size: 14px;
  color: #949ca5;
  overflow: hidden;
  max-width: 40ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.separateAmenities {
  font-size: 14px;
}

.separateCalendar {
  position: relative;
  margin: 1rem auto !important;
}

.separateCalendar .react-datepicker {
  /* width: 100%;
    border: 1px solid #d8dce1;
    border-radius: 5px;
    padding: 1rem;
    box-sizing: border-box; */
}

@media screen and (max-width: 600px) {
  .singleCard {
    width: 90%;
  }

  .imageCard {
    width: 100%;
  }
}
